<div class="header-container">
  <nav>
    <img src="{{logoUrl}}" alt="">
    <ul>
      <li class="nav-item" (click)="selectNavLink($event)">Start</li>
      <li class="nav-item" (click)="selectNavLink($event)">What we do</li>
      <li class="nav-item" (click)="selectNavLink($event)">Security</li>
      <li class="nav-item" (click)="selectNavLink($event)">Who we are</li>
    </ul>
  </nav>
  <div class="header-content-container">
    <h1>{{companyName}}</h1>
    <p>{{mainHeaderDescription}}</p>
    <div class="button-container">
      <button type="button" name="button">{{headerButtonText}}</button>
    </div>
  </div>
</div>
