<div class="header-container">
  <nav>
    <img src="{{headerData?.includes.Asset[0].fields.file.url}}" alt="">
    <ul>
      <li class="nav-item" (click)="selectNavLink($event)">Start</li>
      <li class="nav-item" (click)="selectNavLink($event)">What we do</li>
      <li class="nav-item" (click)="selectNavLink($event)">Security</li>
      <li class="nav-item" (click)="selectNavLink($event)">Who we are</li>
    </ul>
  </nav>
  <div class="header-content-container">
    <h1>{{headerData?.items[0].fields.companyName}}</h1>
    <p>{{headerData?.items[0].fields.mainHeaderDescription}}</p>
    <div class="button-container">
      <button type="button" name="button">{{headerData?.items[0].fields.headerButtonText}}</button>
    </div>
  </div>
</div>
