.simple-process-container {
  background-color: #f9f9f9;
  min-height: 40vh;
  border-top: 1px solid #e5e5e5;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.simple-process-container h2 {
  text-transform: uppercase;
  letter-spacing: 1.7px;
  color: #484848;
}

.card {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card-header {
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
  font-size: 1.2rem;
  letter-spacing: 0.7px;
  width: 50%;
  margin: 2rem auto;
}

.card-orderby-circle {
  width: 4rem;
  padding: 0.8rem;
  margin: 5rem auto 0 auto;
  border: 1.5px solid white;
  border-radius: 50%;
}

.card-orderby {
  font-size: 3.5rem;
}

/* Card flip styles */

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}

.flip-container {
  perspective: 1000px;
}

.flip-container,
.front,
.back {
	width: 250px;
	height: 250px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
  margin-bottom: 250px;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
  border-radius: 7px;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
  background-image: linear-gradient(to bottom, #53b7ff, #2980ff);
  color: white;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Card flip styles end */

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {

  .simple-process-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 5%;
  }

  .simple-process-container h2 {
    width: 100%;
  }

  .flip-container,
  .front,
  .back {
  	width: 200px;
  	height: 200px;
  }

  .card-header {
    width: 100%;
  }

}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
