.security-container {
  background-color: #ffffff;
  text-align: center;
  color: #484848;
  margin: 1rem 10%;
}

p {
  letter-spacing: 0.7px;
}

.read-more {
  color: #2980ff;
  cursor: pointer;
}

.read-more span {
  font-size: 20px;
  font-weight: 200;
}

.hidden {
  display: none;
}

ul {
  width: 50%;
  margin: 4rem auto;
  padding: 0;
}

li {
  text-align: left;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
}

.logos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-div img {
  margin: 0.5rem 3.5rem;
}

.icc-logo {
  width: 116px;
  height: 111px;
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {
  .security-container {
    margin: 5rem 25%;
  }

  .logos {
    flex-direction: row;
  }

  .logo-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
