.comparison-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 40vh;
}

.comparison-container h2 {
  text-align: center;
  color: #484848;
}

.other {
  font-weight: 200;
  color: gray;
}

.consentio {
  font-weight: bold;
}

table {
  width: 80%;
  margin: 1rem auto 4rem auto;
  border-collapse: collapse;
  border-spacing: 0;
}

tr {
  height: 4rem;
}

th, td {
  border: 1px solid #e5e5e5;
}

td {
  width: 25%;
  color: #484848;
  text-align: center;
}

td img {
  width: 16px;
  height: 16px;
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {

  table {
    width: 50%;
  }

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
