<div class="comparison-container">
  <h2>{{header}}</h2>
  <table cellspacing="0">
    <tr>
      <th></th>
      <th class="consentio">Consentio</th>
      <th class="other">Letter of credit</th>
      <th class="other">Wire transfer</th>
    </tr>
    <tr>
      <td>Transaction speed</td>
      <td><img src="{{iconAvailableUrl}}" alt=""></td>
      <td><img src="{{iconNotAvailableUrl}}" alt=""></td>
      <td><img src="{{iconAvailableUrl}}" alt=""></td>
    </tr>
    <tr>
      <td>Risk mitigation</td>
      <td><img src="{{iconAvailableUrl}}" alt=""></td>
      <td><img src="{{iconAvailableUrl}}" alt=""></td>
      <td><img src="{{iconNotAvailableUrl}}" alt=""></td>
    </tr>
    <tr>
      <td>Fees &amp; Costs</td>
      <td><img src="{{iconAvailableUrl}}" alt=""></td>
      <td><img src="{{iconNotAvailableUrl}}" alt=""></td>
      <td><img src="{{iconAvailableUrl}}" alt=""></td>
    </tr>
    <tr>
      <td>Document tracking</td>
      <td><img src="{{iconAvailableUrl}}" alt=""></td>
      <td><img src="{{iconAvailableUrl}}" alt=""></td>
      <td><img src="{{iconNotAvailableUrl}}" alt=""></td>
    </tr>
    <tr>
      <td>Dispute resolution</td>
      <td><img src="{{iconAvailableUrl}}" alt=""></td>
      <td><img src="{{iconAvailableUrl}}" alt=""></td>
      <td><img src="{{iconNotAvailableUrl}}" alt=""></td>
    </tr>
  </table>
</div>
