<app-homepage-header *ngIf="header" [headerData]="header"></app-homepage-header>
<app-homepage-icons *ngIf="productDesc" [productDescData]="productDesc"></app-homepage-icons>
<app-homepage-whatis *ngIf="whatIs" [whatIsData]="whatIs"></app-homepage-whatis>
<app-homepage-comparison *ngIf="comparison" [comparisonData]="comparison"></app-homepage-comparison>
<app-homepage-simple-process *ngIf="simpleProcess" [simpleProcessData]="simpleProcess"></app-homepage-simple-process>
<app-homepage-customers-say *ngIf="customersSay" [customersSayData]="customersSay"></app-homepage-customers-say>
