<div class="in-beta-container">
  <h2>{{inBetaData.items[0].fields.header}}</h2>
  <p>{{inBetaData.items[0].fields.betaDescription}}</p>
  <form class="in-beta-form" [formGroup]="newSubmitter" (ngSubmit)="onSubmit()" novalidate>
    <input
      type="text"
      name="firstname"
      placeholder="Name"
      formControlName="firstname"
      >
    <input
      type="text"
      name="lastname"
      placeholder="Surname"
      formControlName="lastname"
      >
    <input
      type="email"
      name="email"
      placeholder="Email"
      formControlName="email"
      >
    <input
      type="phone"
      name="phone"
      placeholder="Phone number"
      formControlName="phone"
      >
    <button name="submit" [disabled]="!newSubmitter.valid">Request access</button>
  </form>
</div>
